{% extends 'base.html' %}
{% block content %}
<h1 class="my-4">Welcome BDG</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Category</th>
            <th>Title</th>
            <th>Duration (Months)</th>
            <th>Description</th>
            <th>Slug</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for class in classes %}
        <tr>
            <td>{{ class.category.type }}</td>
            <td>
                <a href="{% url 'class-detail' class.slug %}">{{ class.title }}</a>
            </td>
            <td>{{ class.duration_in_months }}</td>
            <td>{{ class.description }}</td>
            <td>{{ class.slug }}</td>
            <td>
                <a href="{% url 'class-edit' class.slug %}" class="btn btn-primary btn-sm">Edit</a>
                <a href="{% url 'class-delete' class.slug %}" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'class-create' %}" class="btn btn-success">Create New Class</a>
<a href="{% url 'category-create' %}" class="btn btn-primary">Create New Category</a>
{% endblock %}
